:root {
  --dark-green: #003d2e; /* Verde oscuro */
  --light-green: #239463; /* Verde claro */
  --border-gray: #ccc; /* Gris para bordes */
  --input-background: #ffffff; /* Fondo blanco para inputs */
  --font-color: #333333; /* Color de fuente */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  background-color: #ffffff !important;
}

.Login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0e0e0; /* Fondo gris claro */
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  width: 80%; /* Ocupa el 80% del ancho de la pantalla */
  background-color: var(--input-background); /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--input-background);
  color: var(--font-color);
}

.login-form h1 {
  font-size: 3rem;
  color: var(--dark-green);
  font-weight: bold;
  text-align: center;
  margin: 1.5rem;
}

.login-form h2 {
  font-size: 1.3rem;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login-form input[type="text"] {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 6px;
  font-size: 1.2rem;
  color: var(--font-color);
  padding-right: 40px; /* Deja espacio para el icono */
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.password-container input[type="text"], 
.password-container input[type="password"] {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 6px;
  font-size: 1.2rem;
  color: var(--font-color);
  padding-right: 40px; /* Deja espacio para el icono */
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 15px; /* Ajusta la distancia del icono al borde del input */
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--dark-green);
  padding-bottom: 15px;
}

.login-form form label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--dark-green);
}

.login-form .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.login-form .options label {
  font-size: 1rem;
  color: var(--dark-green);
  display: flex;
  align-items: center;
}

.login-form .forgot-password {
  font-size: 1rem;
  color: #6c63ff; /* Morado para el enlace */
  text-decoration: none;
}

.login-form .forgot-password:hover {
  text-decoration: underline;
}

.login-form input[type="checkbox"] {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none; /* Eliminamos la apariencia predeterminada */
  background-color: #ccc; /* Color de fondo inicial */
  border: 2px solid var(--dark-green); /* Borde verde oscuro */
  border-radius: 4px; /* Bordes redondeados */
  position: relative;
}

.login-form input[type="checkbox"]:checked {
  background-color: var(--dark-green); /* Cambia el fondo cuando está activado */
  border-color: var(--dark-green); /* Asegura que el borde también cambie de color */
}

.login-form input[type="checkbox"]:checked::before {
  content: '✔'; /* Mostrar el check */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Color del check */
  font-size: 14px;
}

.login-form .btn-signin {
  width: 100%;
  padding: 1rem;
  background-color: var(--dark-green); /* Verde oscuro */
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.login-form .btn-signin:hover {
  width: 100%;
  padding: 1rem;
  background-color: var(--light-green); /* Verde claro */
  color: white;
  scale: 1.01;
}

.login-info {
  background-color: var(--light-green); /* Verde claro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-info img {
  width: 100%; /* La imagen se estira para llenar el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la altura */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
}

@media (max-width: 768px) {
  .login-container {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    width: 100%;
    border-radius: 0;
  }

  .login-form, .login-info {
    width: 100%;
  }

  .login-form {
    padding-left: 15px;
    padding-right: 15px;
    width: 92%;
  }

  .login-form h1 {
    font-size: 2.5rem;
  }

  .login-form h2 {
    font-size: 1.2rem;
  }

  .login-info {
    max-height: 11rem;
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
  }

  .login-info img {
    width: 100%; /* La imagen se estira para llenar el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la altura */
    object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor sin recortar */
  }
}
